.container {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  align-items: center;
  width: 100%;
  height: 10vh;
  color: #fff;
  /* background-image: linear-gradient(
    63.1deg,
    rgb(0, 9, 53) 16.4%,
    rgb(10, 62, 165) 64.5%
  ); */
}
.container div {
  cursor: pointer;
  font-size: 2.5rem;
}
.container .welcome {
  flex: 2;
  text-align: end;
  font-size: 2.5rem;
  padding-right: 3rem;
}
.container .login {
  flex: 1;
  font-size: 2.5rem;
  text-align: end;
  margin-right: 3rem;
}
