.student {
  width: 100%;
  height: auto;
  padding: 0 0.4rem;
  margin-bottom: 2rem;
  background-image: linear-gradient(
    109.6deg,
    rgba(5, 84, 94, 1) 16%,
    #bbb 91.1%
  );
}

.student h5,
h6 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.student div {
  display: flex;
  margin-top: 0.7rem;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 0.4rem;
}

.student div p {
  font-weight: 600;
}
