<app-header></app-header>
<div class="container">
  <div class="sidebar">
    <a routerLink="/all-students" style="text-decoration: none; color: inherit">
      <div class="card-item" id="all">All students</div>
    </a>

    <a
      routerLink="/students-with-balance"
      style="text-decoration: none; color: inherit"
    >
      <div class="card-item" id="with-balance">With balance</div>
    </a>

    <a
      routerLink="/students-without-balance"
      style="text-decoration: none; color: inherit"
    >
      <div class="card-item" id="without-balance">Without balance</div>
    </a>

    <a routerLink="/add-student" style="text-decoration: none; color: inherit">
      <div class="card-item" id="add-student">Add student</div>
    </a>
  </div>

  <div class="main-content">
    <div class="students">
      <h5>Students with balance</h5>
      <div *ngFor="let student of students">
        <app-student-wrapper [studentDetails]="student"></app-student-wrapper>
      </div>
    </div>

    <!-- <div class="student-fallback">Nothing Here!!!</div> -->
    <!-- 
    <app-fallback></app-fallback> -->

    <!-- Add student -->
    <!-- <div class="student-container">
      <app-add-student></app-add-student>
    </div> -->
    <!-- <router-outlet></router-outlet> -->
  </div>
</div>
